* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
	display: flex;
	justify-content: center;
}

.header {
	background-color: #1f2937;
}

header {
	padding: 24px;
	max-width: 1000px;
}

nav {
	display: flex;
	justify-content: space-between;
}

ul {
	display: flex;
	list-style: none;
}

li {
	margin-left: 24px;
}

.hero {
	display: flex;
	margin: 80px 0;
	justify-content: space-between;
}

.text {
	margin-right: 48px;
}

.logo {
	font-size: 24px;
	color: #f9faf8;
	font-weight: bold;
}

.text p, li a {
	font-size: 18px;
	color: #e5e7eb;
}

li a {
	text-decoration: none;
}

.text h1 {
	font-size: 48px;
	color: #f9faf8;
	margin-bottom: 8px;
}

button {
	margin-top: 16px;
	padding: 10px 32px;
	background-color: #3882f6;
	color: #f9faf8;
	border-radius: 8px;
	font-weight: bold;
	border: none;
	font-size: 18px;
}

figcaption, figcaption a {
	color: #e5e7eb;
}

.info h1 {
	font-size: 36px;
	font-weight: extra-bold;
	color: #1f2937;
	margin: 36px 0;
}

.info {
	flex-direction: column;
	align-items: center;
}

.cards {
	display: flex;
	justify-content: space-between;
	width: 1000px;
	padding: 24px;
	margin-bottom: 48px;
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 200px;
	text-align: center;
	font-size: 16px;
	color: #65676b;
}

.card {
	border: 4px solid #3882f6;
	width: 200px;
	height: 200px;
	border-radius: 18px;
	margin-bottom: 8px;
}

.container.quote {
	background-color: #e5e7eb;
}

blockquote.quote {
	display: flex;
	align-items: center;
	padding: 120px;
	flex-flow: column;
}

q {
	max-width: 770px;
	font-size: 36px;
	font-weight: 300;
	font-style: italic;
	color: #1f2937;
}

.quote p {
	color: #1f2937;
	font-size: 24px;
	align-self: flex-end;
	font-weight: 600;
}

.action {
	background-color: #3882f6;
	width: 1000px;
	display: flex;
	margin: 100px;
	padding: 45px 60px;
	border-radius: 12px;
	justify-content: space-around;
}

.action button {
	border: 2px solid #f9faf8;
}

.call h2 {
	color: #f9faf8;
	margin-bottom: 4px;
}

.call p {
	color: #e5e7eb;
}